body {
  background: -moz-linear-gradient(top, #FFCC66, #FFF);
  background: -webkit-linear-gradient(top, #FFCC66, #FFF);
  background: linear-gradient(to bottom, #FFCC66, #FFF);
    margin-right: auto;
    margin-left: auto;
    padding-top: 20pt;
    padding-left: 20pt;
    padding-right: 20pt;
    padding-bottom: 10pt;
    width: 900px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic',Tsukushi A Round Gothic
  }

  .h1 {
    color: #7ea73c;
    text-align: center;
font-family:Tsukushi A Round Gothic ;
background-color: #ffffcc;
box-shadow: 4px 6px 4px #e7cf7e;
  }

  p.style1{
    color: #000000;
    text-align: center;
font-family:YuGothic
  }
        
  p.style2{
    color: #000000;
    text-align: left;
    font-size: 12pt;
font-family:YuGothic
  }

  .area {
    width: 900px;
    margin-top: 10pt;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
    background-color: #ffffcc;
    box-shadow: 4px 6px 4px #e7cf7e;
  }
   
  .tab_class {
    width: calc(100%/6);
    height: 50px;
    background-color: rgb(190, 228, 120);
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
  }
   
  .content_class {
    display: none;
    width: 100%;
    margin: 20pt;
  }
   

  input:checked + .tab_class + .content_class {
    display: block;
  }

.img{
    vertical-align: top;
}

.p{
    font-size: 17px
}

h2{
    margin-left: auto;
    margin-right: auto;
}

h3{
    padding-top: 20pt;
    text-align: center
}


p.title {
  border-left :solid 5px orange;
  border-bottom: solid 1px gray;
  /*余白をつけておきます*/
  padding: 10px;
    font-size: 20px;
}

ul {
  padding: 0;
  position: relative;
     margin-left: 20pt;
     margin-right: 300pt;
    margin-bottom: 10pt;
}

ul li {
 color: #2d8fdd;
  border-left: solid 8px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

.area1 {
    width: 900px;
    margin-top: 10pt;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10pt;
    padding-bottom: 10pt;
    flex-wrap: wrap;
    background-color: #ffffcc;
    box-shadow: 4px 6px 4px #e7cf7e;
  }

  p.style3{
      padding-left: 15pt;
      padding-right: 15pt;
      font-size: 17px;
      padding-top: 10pt;
    }

    .box10 {
      display: inline;
      align-items: center;
      justify-content: center;
      margin: 2em 1em;
      padding: 0.5em 1em;
      spacing: 20pt;
      color: #00BCD4;
      background: #e4fcff;/*背景色*/
      border-top: solid 6px #1dc1d6;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
      font-size: large;
  }
  .box10 p {
      margin: 0; 
      padding: 0;
  }

.table-ul {
  background-color: #e4fcff;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}
.table-ul li {
  display: table-cell;
  vertical-align: middle;
}
.table-ul li a {
  color: #fff;
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding: 10px 0;
}
